asgiref==3.5.2
DateTime==4.7
Django==4.1
django-sendpdf==2.0.1
django-timezone-utils==0.15.0
djangorestframework==3.13.1
pdfkit==1.0.0
Pillow==9.2.0
psycopg2==2.9.3
pytz==2022.2.1
reportlab==3.6.11
sqlparse==0.4.2
tzdata==2022.2
wkhtmltopdf==0.2
zope.interface==5.4.0
